@import url('https://fonts.googleapis.com/css2?family=Poppins');

*{
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
}

h1{
    color: #505050;
}

#navbar img{
    height: 50px;
    margin-left: 1rem;
}